<template>
  <loader v-if="!loaded" />
  <app-error :text="'Projects is not found'" v-else-if="!item"></app-error>
  <div v-else class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-link :to="{name: 'home'}" class="btn btn-links btn-sm">&lt; Back to Projects</router-link>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{item.name}}</h5>
            <a target="_blank" v-if="item.git" :href="item.git" class="btn btn-success btn-sm">View Git</a>
          </div>
          <div class="card-body">
            <p class="card-text">
              <a v-for="(link, i) in item.template" :key="(i+1)"
                  class="btn btn-sm btn-outline-success" 
                  target="_blank" 
                  :href="item.direktory+link.url">
                {{link.name}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import Loader from '~c/Loader'
import AppError from '@/components/E404.vue'

export default {
  components: {
    Loader,
    AppError
  },
  computed: {
    ...mapGetters({
      itemProxy: 'projects/item',
      loaded:'projects/loaded'
    }),
    id(){
      return this.$route.params.id;
    },
    item(){
      return this.itemProxy(this.id);
    }
  }
}
</script>

<style lang='sass' scoped>
.card-header
  display: flex
  align-items: center
  .card-title
    margin-right: auto
    margin-bottom: 0
  .btn
    margin-left: 5px
.card-body
  .card-title
    margin-bottom: 15px
    display: block
    font-size: 16px
  .card-text a
    display: inline-block
    margin: 0 7px 7px 0   
</style>
