<template>
  <loader v-if="!loaded" />
  <div v-else class="container">
    <div class="row">
      <app-item v-for="(item, i) in list" :key="i" :info="item" type="project"></app-item>
    </div>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import AppItem from '~c/Item'
import Loader from '~c/Loader'

export default {
  components: {
    AppItem,
    Loader
  },
  computed: {
    ...mapGetters({
      list:'projects/list',
      loaded:'projects/loaded'
    })
  }
}
</script>

