<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="http://markup.16mb.com/CV_Aram_Muradyan_Frontend_dev.docx">download resume</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
// import Services from '../services.js'
export default {
  name: 'Footer',
  data () {
    return {
      baseUrl: ''
    }
  },
  created () {
    //this.baseUrl = Services.baseUrl
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='sass' scoped>
footer
  text-align: center
  padding: 5px 0
  background: #28a745
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5)
  a
    color: #fff
    font-size: 13px
</style>
