<template>
  <header>
    <div class="container">
      <div class="row">
          <b-navbar toggleable="md" type="dark">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand to="/">
              <img src="../assets/logo.png" alt="aaa">
            </b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">
              <app-menu></app-menu>
              <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="My profiles" right>
                  <b-dropdown-item target="_blank" href="https://moikrug.ru/aramgreat">moikrug</b-dropdown-item>
                  <b-dropdown-item target="_blank" href="https://freelansim.ru/freelancers/aramgreat">freelansim</b-dropdown-item>
                </b-nav-item-dropdown>
              </b-navbar-nav>
              <a target="_blank" class="btn btn-sm btn-outline-light" href="https://bitbucket.org/aramdev/portfolio">View Project On Git</a>

            </b-collapse>
          </b-navbar>
        
      </div>
    </div>
  </header>
</template>

<script>
import { BNavbar } from 'bootstrap-vue'
import { BNavbarNav } from 'bootstrap-vue'
import { BNavbarBrand } from 'bootstrap-vue'
import { BNavbarToggle } from 'bootstrap-vue'
import { BNavItemDropdown } from 'bootstrap-vue'
import { BNavItem } from 'bootstrap-vue'
import { BDropdownItem } from 'bootstrap-vue'
import { BCollapse } from 'bootstrap-vue'
import AppMenu from '~c/Menu.vue'


export default {
 components: {
  BNavbar,
  BNavbarNav,
  BNavbarBrand,
  BNavbarToggle,
  BNavItemDropdown,
  BNavItem,
  BDropdownItem,
  BCollapse,
  AppMenu
 }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='sass' scoped>
header
  background: #28a745 //#4fc08d
  position: fixed
  z-index: 9
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5)
  .navbar
    width: 100%
  .navbar-brand
    img
      width: 35px
      height: 35px
      border-radius: 50px
      display: block
</style>
