<template>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-header">
        {{info.name}}
      </div>
      <img class="card-img-top" 
          :src="`/img/${info.id}.jpg`" 
          :alt="info.name" />
      <div class="card-body text-right">
        <router-link v-if="type == 'project'" 
                    class="btn btn-success btn-sm"
                    :to="{name: 'project', params: {id: info.id}}">
          See more
        </router-link>
        <a target="_blank" :href="info.direktory" v-else class="btn btn-success btn-sm">View It</a>
        &nbsp;
        <a target="_blank" 
            v-if="info.git" 
            :href="info.git" 
            class="btn btn-outline-success btn-sm">
          View Code
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['info', 'type'],
}
</script>
<style scoped lang="sass">
.card
  margin-bottom: 30px
.card-header
  font-weight: bold
.card-img-top
  display: block
  max-width: 100%
  width: auto
  margin: 15px 15px 0
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3)
  
    
</style>