<template>
  <div class="loaded">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script>

// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  components: {
    // HelloWorld
  }
}
</script>
<style lang='sass' scoped>
.loaded   
  position: fixed
  width: 100%
  height: 100% 
  background: #fff
  top: 0 
  left: 0 
  z-index: 999
  display: flex 
  align-items: center
  justify-content: center 

  div.spinner-border 
      width: 5rem
      height: 5rem
</style>
