<template>
  <b-navbar-nav>
    <b-nav-item :to="{name: 'projects'}">Projects</b-nav-item>
    <b-nav-item :to="{name: 'landings'}">Landings</b-nav-item>
    <b-nav-item :to="{name: 'eletters'}">Email letters</b-nav-item>
  </b-navbar-nav>
</template>

<script>
import { BNavbarNav } from 'bootstrap-vue'
import { BNavItem } from 'bootstrap-vue'
export default {
  components: {
    BNavbarNav,
    BNavItem
  }
}
</script>
<style lang="sass" scoped>
.navbar-dark ul.navbar-nav .nav-link
  color: #fff
  border-radius: 5px
  padding: 4px 15px
  font-size: 15px  
  transition: all 150ms linear
  &:hover &:focus
    color: #fff 
    opacity: 1 
  &.router-link-active
    color: #28a745
    background: #fff
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)
  

</style> 
