<template>
  <div id="app">
    <AppHeader></AppHeader>
    <div class="wrap">
      <router-view/>
    </div>
    <AppFooter></AppFooter>
  </div>
</template>
<script>
import AppHeader from '~c/Header.vue'
import AppFooter from '~c/Footer.vue'
export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.wrap
  padding-top: 91px
  min-height: calc(100vh - 34px)
  

</style>